<div class="container">
  <h1>Welcome to Akiyama Kiro Unofficial Fan Site!!!</h1>
  <p>当サイトは秋山黄色さんのファンの方にファン活動をより一層楽しんでいただくことを目的としております。<br>
    プロフィール、楽曲、最新情報については公式サイト、X(旧Twitter)、FCアプリ等をご覧ください</p>
</div>