<div class="container">
  <h1>Welcome to Kiro Akiyama Unofficial Fan Site!</h1>
  <p>当サイトは秋山黄色さんのファンの方にファン活動をより一層楽しんでいただくことを目的としております。<br>
    プロフィール、楽曲、最新情報については公式サイト、X(旧Twitter)、FCアプリ等をご覧ください</p>

  <p class="mt-xl-5">当サイトはご覧の通り未完成です。BUG SESSIONに無理やり間に合わせた結果です…^^;<br>今後コンテンツを追加し、デザインも一新する予定です。楽しみにお待ちいただけると幸いです。</p>

  <p class="mt-xl-5">
    <h4>現在ご利用いただけるコンテンツ</h4>
    <ul>
      <li>・ライブセトリの閲覧、コメント</li>
      <li><a class="nav-link text-light" href="/set_lists">→ライブセトリを見る(ネタバレ注意)</a></li>
      <li>・ライブ感想の閲覧、投稿、コメント、いいね</li>
      <li><a class="nav-link text-light" href="/posts">→ライブ感想掲示板を見る(ネタバレ注意)</a></li>
    </ul>
  </p>

  <p class="mt-xl-5">
    <h4>今後追加予定のコンテンツ(あくまで予定です)</h4>
    <ul>
      <li>・推し活スケジュール</li>
      <li>・これまでのライブレポ、インタビュー等のメディア記事の検索ツール</li>
      <li>・使用機材、着用衣装まとめ</li>
      <li>・聖地マップ</li>
    </ul>
  </p>

</div>
