<main>
  <div class="container-md">
    <div class="row">
      <div class="col-md-3">
        <div>
          <a class="text-light" href="/users/sign_in">ログイン</a><br>
          <a class="text-light" href="/users/sign_up">新規登録</a>
        </div>
        <div>
          <a class="text-light" href="/posts/new">新規投稿を作成</a>
        </div>
        <div>
          <p>並び替え(昇順・降順)</p>
          <p>絞り込み</p>
          <p>セトリ表示ON・OFF</p>
          <p>条件をクリア</p>
          <p>年</p>
          <p>月</p>
          <p>イベント名</p>
          <p>場所</p>
        </div>
      </div>
      <div class="col-md-9">
        <div>
          <p>セトリ</p>
        </div>
        <div>
          <p>投稿一覧</p>
        </div>
      </div>
    </div>
  </div>
</main>