<main>
  <p id = notice><%= flash[:notice] %></p>
  <div class="container">
    <p>ライブ一覧</p>
    <table>
    <% @lives.each do |live| %>
      <tr>
        <td>ライブ名：<%= live.name %></td>
        <td>へんしう画面へのリンク</td>
      </tr>
    <% end %>
    </table>
  </div>
</main>