<main>
  <p id = notice><%= flash[:notice] %></p>
  <div class="container">
    <p>ライブ一覧</p>
    <% @lives.each do |live| %>
    <div>
      <p>ライブ名：<%= live.name %></p>
    </div>
    <% end %>
  </div>
</main>