<main>
  <p id = notice><%= flash[:notice] %></p>
  <div class="container">
    <p>ライブ一覧</p>
    <% @lives.each do |live| %>
    <div>
      <tr>
        <td>ライブ名：<%= live.name %></td>
        <td>へんしう画面へのリンク</td>
      </tr>
    </div>
    <% end %>
  </div>
</main>