<footer class="footer" style="background-color:#2F3236;">
  <div class="container">
    <p>当サイトは個人で管理・運営している非公式ファンサイトであり、秋山黄色さんご本人及び各種関係会社様とは一切関係ありません。
      <br>当サイトについてのお問い合わせは、問い合わせフォーム、または管理者X(旧Twitter)のDM、マシュマロで受け付けております。
      <br>管理者X(旧Twitter)：
    </p>
  </div>
</footer>