<footer class="footer fixed-bottom" style="background-color:#2F3236;">
  <div class="container mt-5">
    <div class="row">
      <div class="mx-auto">
        <p>当サイトは個人で管理・運営している非公式ファンサイトであり、秋山黄色さんご本人及び各種関係会社様とは一切関係ありません。
          <br>当サイトについてのお問い合わせは、サイト右上の問い合わせフォームからお願いいたします。
          <br>コンテンツが少ない場合にフッターをページ下部に固定するのを諦めました。コンテンツを増やせ！
        </p>
      </div>
    </div>
  </div>
</footer>