<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#770000;">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag 'main-logo.png', :size =>'280x105' %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <ul class="navbar-nav navbar-collapse ml-auto">
          <li class="nav-item">スケジュール</li>
          <li class="nav-item">記事検索</li>
          <li class="nav-item">使用機材など</li>
          <li class="nav-link">ライブ感想掲示板</li>
          <li class="nav-item">お問い合わせ</li>
        </ul>
      </div>
    </div>
  </nav>
</header>