<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag('main-logo.png') %></a>
      <div>
        <ul>
          <li class="nav-item">スケジュール</li>
          <li class="nav-item">記事検索</li>
          <li class="nav-item">使用機材など</li>
          <li class="nav-item">ライブ感想掲示板</li>
          <li class="nav-item">お問い合わせ</li>
        </ul>
      </div>
    </div>
  </nav>
</header>